<div class="panel panel-default">
  <% if @chats.any? %>
    <ul class="panel-body chats" id="chats">
      <% @chats.each do |chat| %>
        <li class="chat">
          <span><%= link_to chat.title, chat_path(chat)  %><span>
          <span><%= chat.messages.last.content[0, 32] if chat.messages.any? %><span>
        </li>
      <% end %>
    </ul>
  <%end%>
</div>
